@import "../../design-tokens/variables.scss";

.people-list-container {
  position: relative;
  display: grid;
  row-gap: 10px;
  margin-bottom: 1.875rem;

  li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;

    &.people-list-header {
      font-size: $font-12;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 20px;
      color: $desaturated-dark-blue;
      padding: 0 1.875rem;
    }

    &.people-list-item {
      background: $white;
      align-items: center;
      border-radius: 10px;
      box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05);
      padding: 1.875rem;

      & > label {
        color: $steel-blue;

        &:first-child {
          display: flex;
          flex-direction: column;
          word-break: break-word;

          .name-text {
            font-size: $font-18;
            font-weight: 600;
            line-height: 22px;
            color: $dark-blue;
          }
          .dob-text {
            font-size: $font-14;
            line-height: 22px;
            color: $desaturated-dark-blue;
          }
        }
        .salary-sub-text {
          margin-left: 5px;
          font-size: $font-13;
          line-height: 18px;
          color: $desaturated-dark-blue;
        }
      }
      button[type="button"] {
        justify-self: end;
      }
    }
  }
}
