@import "../../../design-tokens/variables.scss";

.message-box__container {
  display: flex;
  padding: 0.625rem;
  margin-top: 1.875rem;
  background: $white;
  border-radius: 0.625rem;
  color: $dark-blue;

  &.success {
    border: 1px solid $green;
  }

  &.error {
    border: 1px solid $red;
  }
}
