//variables
//theme
$primary-color: #F4F7FC;
$white: #ffffff;
$dark-blue: #00234B;
$desaturated-dark-blue: #778CA3;
$soft-blue: #624DE3;
$light-greyish-blue: #CED5DB;
$steel-blue: #525F7F;
$light-blue: #F9FAFF;
$light-grey: #EAEDF3;
$red: #ff9494;
$pale-orange: #FFE8DF;

//base line height
$base-line-height: 1.5;

//font size
$font-13: 13px;
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-26: 26px;