@import "../../../design-tokens/variables.scss";

$navbar-height: 80px;

.navbar {
  position: sticky;
  top: 0;
  background: $white;
  height: $navbar-height;
  z-index: 200;

  .user-info__wrapper{
    display: flex;
    align-items: center;

    .avatar {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background: $pale-orange;
      margin-right: 10px;
    }

    .user-info {
      display: flex;
      flex-direction: column;
      font-size: $font-16;
      font-weight: 500;
  
      & .user-role {
        font-size: $font-13;
        color: $desaturated-dark-blue;
      }
    }
  }
}
