@import "../../../design-tokens/variables.scss";

.card {
  display: flex;
  background: $white;
  box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  flex-direction: column;

  .card-header {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-bottom: 1px solid $light-grey;


    .title {
      font-size: $font-22;
      color: $dark-blue;
    }

    .description {
      font-size: $font-14;
      color: $steel-blue;
    }
  }
  .card-actions {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $light-blue;
      padding: 30px;
  }
}
